element.style {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: auto;
  display: block !important;
}
body {
  background-color: #c04242;
}
.bebida {
  list-style-type: none;
  background-color: #f9f9ff;
}
.site-nave {
  list-style-type: none;
  background-color: #f9f9ff;
}
